version: '3.9'
services:
  backend:
    build:
      context: ./backend
    ports:
      - "5001:5000"
    volumes: 
      - ./backend:/app
    depends_on:
      - frontend

  frontend:
    build:
      context: ./frontend
    ports:
      - "3001:80" # Expose frontend on port 3001
    volumes:
      - ./frontend:/app
